<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanyeop.mom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:name=".di.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryofMusicandroid"
        android:usesCleartextTraffic="true">
    </application>

</manifest>